/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Website Colors Variables */
:root{
    /* Dark Mode */
    --bg-color: #222831;
    --second-bg-color: #2D3138;
    --font-color: #f7fafc;
    --second-font-color: #e2e8f0;
    --main-color: #FFDE4D;
}

/* Light Mode */
.light{
    --bg-color: #f7fafc;
    --second-bg-color: #e2e8f0;
    --font-color: #5D5D5D;
    --second-font-color: #2D3138;
    --main-color: #E5C745;
}

/* All Website Elements */
* {
    user-select: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
}

/* Document Content */
body {
    background-color: var(--bg-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    transition: background-color 0.1s ease-in-out;
}

span{
    color: var(--main-color);
}

h3 {
    font-size: 22px;
    margin-bottom: 12px;
    color: var(--main-color);
}

p {
    font-size: 16px;
    color: #222;
    margin-bottom: 20px;
    color: var(--main-color);
}


/* Splash Screen */
.intro{
    position: fixed;
    z-index: 111;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color);
    transition: 1s;
}

.intro-logo-header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--font-color);
    transition: 1s;
}

.intro-logo{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.intro-logo.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}

.intro-logo.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.carousel-container {
    position: relative;
    width: 80%;
    overflow: hidden;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 50px;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    touch-action: pan-y;
}

.team-member {
    background-color: var(--second-bg-color);
    flex: 0 0 100%;
    padding-bottom: 40px;
}

.team-image {
    background: var(--main-color);
    padding: 20px;
}

.team-image img {
    width: 150px;
    height: 150px;
    border-radius: 50px;
}

.team-name {
    margin-top: 20px;
    font-weight: bold;
    color: var(--font-color);
}

.team-role {
    color: var(--second-font-color);
    margin-top: 5px;
    margin-bottom: 10px;
}

.underline {
    width: 30px;
    height: 2px;
    background: var(--main-color);
    margin: 0 auto 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--bg-color);
    color: var(--font-color);
    font-size: 30px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.button {
    width: 160px;
    height: 55px;
    margin-bottom: 40px;
    border: 3px var(--main-color) solid;
    color: var(--font-color);
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.3s ease;
}

.button:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
    transform: scale(1.1);

    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}

@media (min-width: 768px) {
    .team-member {
    flex: 0 0 33.3333%;
    }
}

@media (max-width: 500px) {
    .arrow.left, .arrow.right{
        display: none;
    }
}

/* Scroll Bar */
::-webkit-scrollbar{
    width: 10px;
    display: none;
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 16px;
}

::-webkit-scrollbar-track{
    background-color: var(--second-bg-color);
}